/*
ZIRIX CONTROL CENTER - ESTILOS DOS BOTÕES
DESENVOLVIDO POR ZIRIX SOLUÇÕES EM RASTREAMENTO LTDA.

DESENVOLVEDOR: RAPHAEL B. MARQUES
TECNOLOGIAS UTILIZADAS: CSS
*/

/*Tab*/


input[type=checkbox] {
	visibility: hidden;
}

.checkboxConfirm {
	width: 45px;
	height: 20px;
	background: #000;
	margin: 10px 30px;
	border-radius: 50px;
	position: relative;
    display: inline-block;
}
.checkboxConfirm:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 1px;
	height: 1px;
	width: 31px;
	background: #000;
}
.checkboxConfirm label {
    display: inline-block;
	width: 11px;
	height: 11px;
	border-radius: 50%;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 4px;
	z-index: 1;
	left: 5px;
	background: #FF0000;
}
.checkboxConfirm input[type=checkbox]:checked + label {
	left: 30px;
	background: #26CA28;
}